{{- define "main" -}}

<div class="universal-wrapper pt-3">

  <center> <h1>404</h1> </center>
  <center> <h2>Page not found, or content currently unavailable.</h2> </center>
  <center> <h3>¯\_(ツ)_/¯</h3> </center>
  <!-- <h2>{{ i18n "page_not_found" }}</h2> -->

  {{/* Show search box if Academic's search engine is enabled. */}}
  {{ if eq site.Params.search.engine 1 }}
  <form class="d-flex align-items-center mb-3">
    <input name="q" type="search" class="form-control" placeholder="{{ i18n "search_placeholder" }}" autocomplete="off">
  </form>
  {{ end }}

  {{/* Suggest recently published pages to the user. */}}

  <p>{{ i18n "404_recommendations" }}</p>

  {{ $query := site.RegularPages }}
  {{ $count := len $query }}
  {{ if gt $count 0 }}
  <h2>{{ i18n "user_profile_latest" }}</h2>
  <ul>
    {{ range first 10 $query }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
  <center><p> Deployment Status: <a href="https://app.netlify.com/sites/bpipher/deploys"><img src="https://api.netlify.com/api/v1/badges/c0ae9fd0-b72f-4805-9f23-3b21058ba5d7/deploy-status" alt="Netlify Status" /></a></p></center>
</div>

{{- end -}}
